.contact{
    text-align: center;
    color: white;
    background-color: rgb(79, 79, 79);
    padding-top: 20px;
    padding-bottom: 20px;
}


.email-contact {
    float: left;
    width: 33.33%;
    text-align: center;
    padding-top: 210px;
    padding-bottom: 64px;
    background-color: gray;
    z-index: 0;
}
.email-image{
    position: absolute;
    left: 12.5%;
    top: 600px;
    background-color: gray;
    width: 120px;
    height: auto;
    z-index: 2;
}
.social-contact {
    float: left;
    width: 33.33%;
    text-align: center;
    padding-top: 210px;
    padding-bottom: 48px;
    background-color: rgb(177, 177, 177);
    z-index: 0;
}

.social-image{
    position: absolute;
    left: 45.4%;
    top: 602px;
    background-color: rgb(177, 177, 177);
    width: 120px;
    height: auto;
    z-index: 2;
}
.insta-image{
    text-align: center;
    width: 40px;
    height: auto;
}
.facebook-image{
    text-align: center;
    width: 40px;
    height: auto;
}
.twitter-image{
    text-align: center;
    width: 48px;
    height: auto;
}

.schol-contact {
    float: left;
    width: 33.33%;
    text-align: center;
    padding-top: 210px;
    padding-bottom: 64px;
    background-color: gray;
    z-index: 0;
}
.school-image{
    position: absolute;
    left: 77.8%;
    top: 585px;
    background-color: gray;
    width: 140px;
    height: auto;
    z-index: 2;
}




.img-reg {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max;
    height: auto;
}
.header-img {
    display: block;
    height: 100%;
    width: auto;
    margin-right: auto;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 31px;
    z-index: -1;
    position: absolute;  
}

.header-fill {
    position: relative;
    background-color: white;
    height: 100%;
    width: 100%;
    
}

